# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
#claude code
.claude

#cache settings
prefs.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
